<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Supply line
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <supply *ngIf="!isUsageView"></supply>
  <usage *ngIf="isUsageView"></usage>

  <ion-fab left bottom>
    <button ion-fab color="primary" (click)="switchView()">
      <ion-icon name="pulse" *ngIf="!isUsageView"></ion-icon>
      <ion-icon name="grid" *ngIf="isUsageView"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
